Source: uhub
Section: net
Priority: optional
Maintainer: Xabier Napal Roncal <xnapal@navarralanparty.org>
Build-Depends: debhelper-compat (= 13),
               cmake,
               pkg-config,
               libssl-dev,
               libsqlite3-dev,
               libsystemd-dev,
Standards-Version: 4.6.0.1
Homepage: https://uhub.org

Package: uhub
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: High performance ADC peer-to-peer hub for the ADC network.
  uhub is a high performance peer-to-peer hub for the ADC network.
  Its low memory footprint allows it to handle several thousand users on
  high-end servers, or a small private hub on embedded hardware.
